@using FileExplorer.DTOs; 
@* @model ICollection<ProjectDTO>  *@



@{
    ViewData["Title"] = "Projects";
    Layout = "CustomLayout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>


    <div class="parent2">

        <br />
        <center>
            <h1>
                .  Projects  .
            </h1>

            <center>
                <a asp-controller="Project" asp-action="Create" class="btn-primary">Add Project+</a>
                <input id="getallprojectsinjson" class="btn-primary" value="Get All Projects" type="button" />
                <a asp-action="Index" asp-controller="FileEntity" class="btn-primary" >Home</a>
            </center> 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Id</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                
                
                <>
                
                </>
                @*   @{
                    var i = 1;

                    <tbody>
                        <tr>
                            @foreach (var project in Model)
                            {
                                <th scope="row">@i</th>

                                <td><center>@project.ProjectName</center></td>
                                <td><center>@project.Id</center></td>
                                <td><center><a asp-action="Edit" asp-controller="Project" asp-route-id="@project.Id" class="btn-edit">Edit</a></center></td>
                                <td><center><input data-id="@project.Id" type="button" id="deleteproject" class="btn-delete project-index-delete" value="Delete" /></center></td>


                                i++;
                            }
                        </tr>
                    </tbody>



                } *@
            </table>
        </center>

        <br />
    </div>


<script src="~/js/Project.Index/ProjectIndex.js"></script>