@using FileExplorer.DTOs;
@model FileEntityDTO
@{
    ViewData["Title"] = "Add file Record";
    Layout = "CustomLayout";
    var allProjectNames = ViewBag.data.AllProjects;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />

@if (Model.SelectErrorTD != null)
{
    <small>@Model.SelectErrorTD</small>
}

@if(Model.Error != null)
{
    <small>@Model.Error</small>
}
@if (Model.CreateErrorTD != null)
{
    <small>@Model.CreateErrorTD</small>
}
@if (Model.NamingErrorTD != null)
{
    <small>@Model.NamingErrorTD</small>
}


<body>
    <form method="post" id="createform" asp-action="Create" enctype="multipart/form-data" >
       
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" id="createname" type="text"  class="btn-primary createhome" placeholder="Enter Name">
            <small id="namecount">100 / @Model.Name.Length</small>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>



        <br />
        <div class="form-group">
            <label asp-for="FilePath">FilePath</label>
            <input asp-for="FilePath"   id="createfilepath" type="text" class="btn-primary createhome" placeholder="Enter FilePath">
            <small id="filepathcount">180 / @Model.FilePath.Length </small>
            <span asp-validation-for="FilePath" class="text-danger"></span>
        </div>

        
        <br /> 

        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" type="text"  id="createdescription" class="createhome btn-primary" placeholder="Description">
            <small id="desccount" >150 / @Model.Description.Length</small>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group"> 
            <br />
            <input asp-for="DateCreated" style="margin-left:10px" type="date" class="btn-primary createhome" placeholder="Enter DateCreated">
             
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label >ProjectName</label>
            <select asp-for="ProjectId" class="project-dropdown" style="width:100px " >
                @foreach (var project in allProjectNames)
                {
                    <option value="@project.Id">@project.ProjectName</option>

                }
            </select>
            <span asp-validation-for="ProjectName" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input asp-for="Size" type="hidden" class="btn-primary" >
            <input asp-for="Type" type="hidden" class="btn-primary" >
            <label >Size : @Model.Size , Type : @Model.Type</label>
            
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <br />
        
        <br />
        <button type="submit" class="btn-primary">Submit</button>
    </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
<script src="~/js/Home.Create/HomeCreate.js" type="text/javascript"></script> 


<script>
  
</script>


</body>
