@{
    Layout = "CustomLayout";
}
@using FileExplorer.ViewModels;
@model FileExploreViewModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.1/axios.min.js"> </script>
    <script src="~/js/FileExplorerDownloadFile.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>

    <script src="~/js/FileExplorerDownloadFile.js" type="text/javascript"></script>
    <center>
        <div class="parent">
            <a asp-controller="Project" asp-action="Index" class="btn-primary">All Projects</a>
            <div class="child">

                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                {
                    <div class="parent">
                        <div class="child">
                            <input asp-for="path" type="text" class="input-primary" placeholder="Path" />
                            <input type="submit" value="List Content" class="btn-primary" />
                        </div>
                        <div class="child">
                            <input asp-for="searching" type="text" class="input-primary" />
                            <img src="~/icons/search-3-32.png" style="width:15px;height:15px;margin-top:25px;margin-left:10px;" />
                            <input type="submit" value=" Search  " class="btn-primary" />
                        </div><br />

                        <span asp-validation-for="path" style="margin-right:400px;"></span>

                    </div>
                }

            </div>

            <br />
            <div class="child">

                @if (Model.path != null)
                {

                    <div class="parent" style="margin-top:4px">
                        <div class="child">
                            @using (Html.BeginForm("NewFolder", "Home", FormMethod.Get))
                            {
                                <input asp-for="path" type="hidden" value="@Model.path" />

                                <input asp-for="NewFolderName" type="text" class="input-primary" placeholder="Folder Name ..." />
                                <input type="submit" value="Add New Folder" class="btn-primary" />
                            }
                        </div>


                        <div class="child">
                            <form method="post" enctype="multipart/form-data" asp-action="AddFilesToPath" asp-controller="Home" >
                                <input asp-for="path" type="hidden" value="@Model.path" />

                                
                                <label class="btn-primary">
                                    Select File(s)
                                    <input asp-for="SelectedFile" type="file" class="input-primary">

                                </label>
                                <span asp-validation-for="SelectedFile"></span>

                                <input type="submit" value="Add+" class="btn-primary" />

                            </form>
                        </div>
                        @if (TempData["SelectError"] != null)
                        {
                            <small>@TempData["SelectError"]</small>
                        }

                    </div>

                    <br />
                    <div class="parent">
                        <div class="child">
                            @using (Html.BeginForm("EmailListResult", "Home", FormMethod.Get))
                            {
                                <input asp-for="path" type="hidden" value="@Model.path" />
                                <input asp-for="Reciever" type="email" class="btn-primary" placeholder="Your Email Address" />
                                <span asp-validation-for="Reciever"></span>
                                <input type="submit" value="Send Me Result (Email)" class="btn-primary" />
                            }


                        </div>
                        <br />
                        <br />
                    </div>
                }
                else
                {
                    <small>In Order To Add Files Or Create New Folder , Insert A Path</small>
                }


            </div>


            @if (TempData["AddResult"] != null)
            {
                <h5>@TempData["AddResult"]</h5>

            }
            @if (TempData["DownloadError"] != null)
            {
                <small>@TempData["DownloadError"]</small>
            }
            @if (TempData["DeleteError"] != null)
            {
                <small>@TempData["DeleteError"]</small>
            }
            @if (Model.Directories != null && Model.Files != null)
            {

                using (Html.BeginForm("SaveFile", "Home", FormMethod.Get))
                {
                    <input asp-for="path" type="hidden" value="@Model.path" />
                    <input asp-for="searching" type="hidden" value="@Model.searching" />
                    <input type="submit" value=" Download List Result" class="btn-primary-download" />
                }

            }
        </div>
    </center>
    <br />
    <br />

    @if (Model.Files != null && Model.Directories != null)
    {

        <div class="parent2">
            <h1>
                .  Result  .
            </h1>
            <br />
            <center>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Path</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Size </th>
                            <th scope="col">Type</th>
                            <th scope="col">Download</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    @{
                        var i = 1;
                    }
                    @if (Model.Files != null)
                    {//

                        @foreach (var item in Model.Files)
                        {//

                            <tbody>
                                <tr>
                                    <th scope="row">@i</th>

                                    <td><center>@item.Name</center></td>
                                    <td><center>@item.path</center></td>
                                    <td><center>@item.CreatedDate</center></td>
                                    <td><center>@item.Size</center></td>
                                    <td><center>@item.Type</center></td>

                                    
                                    @{
                                        var bothpath = item.path + "&&&" + Model.path;
                                        var confirmMessageName = item.path.ToString();
                                        
                                    }
                                    <td><center><input onclick="PathExists('@item.path.ToString().Replace("\\","%5C").Replace(":","%3A")','@item.Type.ToString()')" value="Download" type="button" class="btn-primary"></center></td> 
                                    <td><a onclick="confirm ('Are You Sure You Want To Delete @confirmMessageName ?')" class="btn-delete" asp-action="Delete" asp-controller="Home" asp-route-bothpath="@bothpath"> Delete </a> </td>
                                    
                                </tr>
                            </tbody>
                            i++;
                        }
                    }
                    @if (Model.Directories != null)
                    {

                        @foreach (var item in Model.Directories)
                        {
                            <tbody>
                                <tr>
                                    <th scope="row">@i</th>

                                    <td><center>@item.Name</center></td>
                                    <td><center>@item.path</center></td>
                                    <td><center>@item.CreatedDate</center></td>
                                    <td><center>@item.Size</center></td>
                                    <td><a class="btn-primary" asp-controller="Home" asp-action="Index" asp-route-path="@item.path">  Go To Folder  </a></td>



                                </tr>
                            </tbody>
                            i++;

                        }
                    }
                </table>
            </center>

            <br />
        </div>
    }

</body>
