@{
    Layout = "CustomLayout";
}
@using FileExplorer.ViewModels;
@model FileExploreViewModel
@{
    ViewData["Title"] = "Home Page";
}
<body>
    <center>
        @if (TempData["Error"] != null)
        {
            <h5>@TempData["Error"]</h5>
        }


        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {

            //@Html.TextBox("path")
            <input asp-for="path" type="text" class="input-primary" />

            <input type="submit" value="Get Path" class="btn-primary" />
            <br />

            <input asp-for="searching" type="text" class="input-primary" />
            <input type="submit" value=" Search  " class="btn-primary" />
        }
       



        @if (Model.path != null)
        {

            <br />
            @using (Html.BeginForm("NewFolder", "Home", FormMethod.Get))
            {
                <input asp-for="path" type="hidden" value="@Model.path" />
                <label>New Folder Name </label>
                <input asp-for="NewFolderName" type="text" class="input-primary" />
                <input type="submit" value="Add New Folder" class="btn-primary" />
                <br />
                
            }
            @if (TempData["SelectError"] != null)
            {
                <h5>@TempData["SelectError"]</h5>
            }
            <form method="post" enctype="multipart/form-data" asp-action="AddFilesToPath">
                <input asp-for="path" type="hidden" value="@Model.path" />
                <input asp-for="Directories" type="hidden" value="@Model.Directories" />
                <input asp-for="Files" type="hidden" value="@Model.Files" />


                <label asp-for="SelectedFile">Select File</label>
                <input asp-for="SelectedFile" type="file" placeholder="Image" class="input-primary">
                <span asp-validation-for="SelectedFile"></span>

                <input type="submit" value="Add To Path" class="btn-primary" />
                <br />
            </form>
        }
        else
        {
            <small>In Order To Add Files Or Create New Folder , Insert A Path</small>
        }


        @if (TempData["AddResult"] != null)
        {
            <h5>@TempData["AddResult"]</h5>
        }

    </center>
    <br />
    <br />



    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Path</th>
                <th scope="col">Date Created</th>
                <th scope="col">Size </th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @if (Model.Files != null)
        {

            @foreach (var item in Model.Files)
            {
                <tbody>
                    <tr>
                        <th scope="row">@i</th>

                        <td>@item.Name</td>
                        <td>@item.path</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.Size</td>
                        <td>@item.Type</td>



                    </tr>
                </tbody>
                i++;
            }
        }
        @if (Model.Directories != null)
        {

            @foreach (var item in Model.Directories)
            {
                <tbody>
                    <tr>
                        <th scope="row">@i</th>

                        <td>@item.Name</td>
                        <td>@item.path</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.Size</td>
                        <td><a class="btn-primary" asp-controller="Home" asp-action="Index" asp-route-path="@item.path">  Folder  </a></td>



                    </tr>
                </tbody>
                i++;

            }
        }
    </table>


    <br />
    @using (Html.BeginForm("SaveFile", "Home", FormMethod.Get))
    {
        <input asp-for="path" type="hidden" value="@Model.path" />
        <input asp-for="searching" type="hidden" value="@Model.searching" />
        <input type="submit" value=" Download " class="btn-primary-download" />

    }
</body>