@using FileExplorer.DTOs;
@model FileEntityDTO
@{
    ViewData["Title"] = "Add file Record";
    Layout = "CustomLayout";
    var allProjects = ViewBag.data;
    var recentPaths = ViewBag.recentPaths;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<br />
<br />

@if (Model.CreateErrorTD != null)
{
    <small>@Model.CreateErrorTD</small>
}
@if (Model.Error != null)
{
    <small>@Model.Error</small>
}

<a id="fileentitycreatereturntohome" asp-action="Index" asp-controller="FileEntity" style="display:none" class="btn-primary" >Record Added , Redirect To Home</a>

<body>
 
  
    
    <form method="post" id="fileentitycreatefrom" asp-action="Create" enctype="multipart/form-data" class="form form-horizontal " >
        <input asp-for="Name" value="NewFile" type="hidden" id="fileentitycreatefromname"/>
        <input asp-for="ImageLink" id="fileentitycreatefromimagelink" type="hidden"/>
        <input asp-for="Size"  type="hidden" id="fileentitycreatefromsize" />
        <input asp-for="Type"  type="hidden" id="fileentitycreatefromtype" />


        <br />
        <div class="form-group form-control" style="position:relative;width:500px;height:15px;border:0;padding:0;margin:0;">
           
             
            <select class="projectselect-dropdown filepath-sug project-dropdown"
            id="pathsuggestion" >

               <option></option>
                @foreach (var path in recentPaths )
                {
                    <option value="@path">@path </option>
                }
            </select>
            <input asp-for="FilePath" id="fileentitycreatefromfilepath" type="text"
                   style="border:none;"
            class="btn-primary createhome filepath-sug" 
            placeholder="Enter FilePath"  >
            <small id="filepathcount" style="position:absolute;top:20px;right:0px;">180 / 0 </small>
            <span asp-validation-for="FilePath" class="text-danger"></span>
        </div>

        <br />


        <br />
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" id="fileentitycreatefromdesc" type="text" class="btn-primary createhome" placeholder="Description">
            <small id="desccount">150 / 0</small>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <br />
            <small id="filepath_count"></small>
            <label  >ProjectName</label>
            <select asp-for="ProjectId" id="projectidselect" class="project-selection">
                @foreach (var project in allProjects)
                {
                    <option  value="@project.Id">@project.ProjectName</option>
                }

            </select> 
        </div>

        <br />
            <label >
            <span id="createfileentityselectfile" style="color:dodgerblue; font-size:15px;">SelectFile</span>

                <input asp-for="FileToCopy" name="filetocopy" id="fileentitycreatefromfile"  type="file" class="btn-primary">
            </label>

        <br />
        <br />
        <br />


        <br />
        <input type="button" value="Submit" id="fileentitycreateformsubmit" class="btn btn-primary"/>

    </form>




</body>

<script src="~/js//FileEntity.Create/FileEntityCreate.min.js"></script>

 