@using FileExplorer.DTOs;
@model FileEntityDTO

@{
    ViewData["Title"] = Model.Name;
}

<br />
<br />
<br />
<center>
    <nav class="navbar col-10 navbar-expand navbar-dark bg-dark margin-0 container m-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="FilEntity" asp-action="Index">Records</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="FileEntity" asp-action="Create" class="nav-link">Add Record+</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Project" asp-action="Index">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Project" asp-action="Create">Add Project+</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <br />

    <div class="container btn btn-outline-dark">
        <div class="row">
            <div class="col-md-5 justify-content-start p-1">
                <div class="project-info-box mt-0">
                    <h5>RECORD DETAILS</h5>
                    <p class="mb-0 p-2">@Model.Description</p>
                </div>

                <div class="project-info-box pl-5">
                    <p class="row justify-content-start pl-5"><b>Name :</b> @Model.Name</p>
                    <p class="row justify-content-start pl-5"><b>ProjectName :</b> @Model.ProjectName</p>
                    <p class="row justify-content-start pl-5"><b>Date Added:</b> @Model.DateCreated</p>
                    <p class="row justify-content-start pl-5"><b>Size :</b> @Model.Size</p>
                    <p class="row justify-content-start pl-5"><b>Type :</b> @Model.Type</p>

                </div>

            </div><!-- / column -->

            <div class="col-md-7">
                @if (Model.ImageLink != null)
                {
                    <img src="@Model.ImageLink" alt="Record-image" class="border border-dark">
                }
                else
                {
                    <img src="https://www.bootdey.com/image/400x300/FFB6C1/000000" alt="Record-image" class="border border-dark">
                }
                <div class="project-info-box">
                    <p><b>Path:</b> @Model.FilePath</p>

                </div><!-- / project-info-box -->
            </div><!-- / column -->
        </div>
    </div>
    <br />
    <br />
 

</center>