@using FileExplorer.DTOs;
@model FileEntityDTO

@{
    ViewData["Title"] = "Edit FileEntity";
    Layout = "CustomLayout";
    var allprojectNames = ViewBag.data ;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>



@if (Model.EditErrorTD != null)
{
    <small>@Model.EditErrorTD</small>
}else if(TempData["EditError"] != null)
{
    <small>@TempData["EditError"]</small>
}


@if (Model.Error != null)
{
    <small>@Model.Error </small>
}else if(TempData["EditError"] != null)
{
    <small>@TempData["EditError"]</small>
}



<body>
    <form id="editfileentityform" enctype="multipart/form-data">
         
        <input asp-for="Size" value="@Model.Size" type="hidden" />
        <input asp-for="Type" value="@Model.Type" type="hidden" />
        <input asp-for="Id" value="@Model.Id" type="hidden"/>
        <input asp-for="DateCreated" value="@Model.DateCreated" type="hidden"/>


        <br />
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" id="fileentityeditformname" type="text"  class="btn-primary createhome" placeholder="Enter FilePath">
            <small id="namecount">100 / @Model.Name.Length </small>
            <span asp-validation-for="FilePath" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group">
            <label asp-for="FilePath">FilePath</label>
            <input asp-for="FilePath" id="fileentityeditformfilepath" type="text"   class="btn-primary createhome" placeholder="Enter FilePath">
            <small id="filepathcount">180 / @Model.FilePath.Length </small>
            <span asp-validation-for="FilePath" class="text-danger"></span>
        </div>

        <br />


        <br />
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" id="fileentityeditformdesc" type="text" class="btn-primary createhome" placeholder="Description">
            <small id="desccount">150 / @Model.Description.Length</small>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <br />
         

        <br />


        <div class="form-group">
            <label>


                <input asp-for="FileToCopy" id="fileentityeditformfile" style="display:none;" type="file" class="btn-primary">
            </label>
            <br />
            <small id="filepath_count"></small>
            <label asp-for="ProjectName">ProjectName</label>
            <select asp-for="ProjectId" class="project-selection">
                @foreach (var project in allprojectNames)
                {
                    <option value="@project.Id">@project.ProjectName</option>

                }
            </select>
            <span asp-validation-for="ProjectName" class="text-danger"></span>
        </div>

        

        <br />
        <input type="button" id="editfileentitysubmit" value="submit" class="btn btn-primary" />
    </form>




</body>


<script src="~/js/FileEntity.Edit/FileEntityEdit.js"></script>

 