@{
    ViewData["Title"] = "FileEntities";
    Layout = "CustomLayout";

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>



<body>

    <div class="parent2">




        <br />
        <center>
            <h1>
                .  File Records  .
            </h1>
            <br />
            <a asp-controller="FileEntity" asp-action="Create" class="btn-primary">Add File Record+</a>

            <center>
                <center>
                <form >

                    <input name="searching" class="btn-primary" placeholder="Name,Path Or ..." id="fileentityindexsearch" />
                    <input class="btn-primary" value="Search"  id="fileentityindexsearchsubmit" type="button"/>    
                </form>
                </center>
            </center>
            <table class="table" id="fileentityindextable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">ProjectName</th>
                        <th scope="col">DateCreated</th>
                        <th scope="col">FilePath</th>
                        <th scope="col">Description</th>
                        <th scope="col">Size</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>


                    </tr>
                </thead>


                @*   @{
                var i = 1;

                @foreach (var file in Model)
                {
                <tbody>
                <tr>
                <th scope="row">@i</th>

                <td><center>@file.Name</center></td>
                <td><center>@file.ProjectName</center></td>
                <td><center>@file.DateCreated</center></td>
                <td><center>@file.FilePath</center></td>
                <td><center>@file.Description</center></td>
                <td><center>@file.Size</center></td>
                <td><center><a asp-action="Edit" asp-controller="FileEntity" asp-route-id="@file.Id" class="btn-edit">Edit</a></center></td>

                <td><center><input class="btn-delete file-index-delete" type="button" data-id="@file.Id" value="Delete" /> </center></td>

                </tr>

                </tbody>

                i++;
                }



                } *@
            </table>
        </center>

        <br />
    </div>

    <script src="~/js/FileEntity.Index/FileEntityIndex.js"></script>

</body>