@using FileExplorer.DTOs;
@model ICollection<FileEntityDTO>

@{
    ViewData["Title"] = "FileEntities";
    Layout = "CustomLayout";
  
}


@if (Model != null)
{

    <div class="parent2">

        <br />
        <center>
            <h1>
                .  Projects  .
            </h1>
            @{
                if (TempData["Error"] != null)
                {
                    <h4>@TempData["Error"]</h4>
                }
                if (TempData["CreateError"] != null)
                {
                    <h4>@TempData["CreateError"]</h4>
                }
                if (TempData["EditError"] != null)
                {
                    <h4>@TempData["EditError"]</h4>
                }
                if (TempData["DeleteError"] != null)
                {
                    <h4>@TempData["DeleteError"]</h4>
                }
            }
            <center>
                <a asp-controller="FileEntity" asp-action="Create" class="btn-primary">Add File To Records +</a>
            </center>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th> 
                        <th scope="col">Name</th>
                        <th scope="col">ProjectName</th>
                        <th scope="col">DateCreated</th>
                        <th scope="col">FilePath</th>
                        <th scope="col">Description</th>
                        <th scope="col">Size</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>


                    </tr>
                </thead>
                @{
                    var i = 1;

                    @foreach (var file in Model)
                    {
                        <tbody>
                            <tr>
                                <th scope="row">@i</th>

                                <td><center>@file.Name</center></td>
                                <td><center>@file.ProjectName</center></td>
                                <td><center>@file.DateCreated</center></td>
                                <td><center>@file.FilePath</center></td>
                                <td><center>@file.Description</center></td>
                                <td><center>@file.Size</center></td>
                                <td><center><a asp-action="Edit" asp-controller="FileEntity" asp-route-id="@file.Id" class="btn-edit">Edit</a></center></td>
                                <td><center> <a asp-action="Delete" asp-controller="FileEntity" asp-route-id="@file.Id" class="btn-delete">Delete</a></center></td>

                            </tr>
                        </tbody>

                        i++;
                    }



                }
            </table>
        </center>

        <br />
    </div>
}